// 3-mixin_margins.scss

// Define a mixin for horizontal margins
@mixin horizontal-margin($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Use the mixin for the body tag
body {
  @include horizontal-margin(10px, 10px);
}

// Use the mixin for the div tag
div {
  @include horizontal-margin(15px, 15px);
}
